<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-12">
                        <div class="copyright">
                            <p>
                                Designed and Developed by<a href="" rel="nofollow"
                                                            target="_blank">EShop</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>