
<div id="userbox" class="userbox">
    <a href="#" data-toggle="dropdown">
        <figure class="profile-picture">
            <img src="~/Assets/img/!happy-face.png" alt="image" class="rounded-circle" />
        </figure>
        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
            <br />
        </div>
        <i class="fa custom-caret"></i>
    </a>
    <div class="dropdown-menu">
        <ul class="list-unstyled mb-2">
            <li class="divider"></li>
            <li>
                <a role="menuitem" tabindex="-1" href="~/logout"><i class="fas fa-power-off"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>