@{
    ViewData["Title"] = "TechnologyShop - Dashboard";
}
<header class="page-header">
    <h2>Dashboard</h2>
    <div class="right-wrapper text-right pr-3">
        <ol class="breadcrumbs">
            <li>
                <i class="fas fa-home"></i>
            </li>
            <li><span>Dashboard</span></li>
        </ol>
    </div>
</header>
