<header class="header navbar-area">
    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-7">
                    <a class="navbar-brand" href="~/index">
                        <img src="~/Assets/images/logo/logo.svg" alt="Logo">
                    </a>
                </div>
                <div class="col-lg-5 col-md-7 d-xs-none">
                    <div class="main-menu-search">
                        <form asp-action="Index" asp-controller="Search">
                            <div class="navbar-search search-style-5">
                                <div class="search-input">
                                    <input type="text" name="key" placeholder="Ara">
                                </div>
                                <div class="search-btn">
                                    <button type="submit"><i class="lni lni-search-alt"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

